/**=====================
      Page Builder CSS Start
==========================**/
.cke {
  z-index: 0 !important;
}

.page-builder .btn-screen {
  padding: 0px 18px;
  background: transparent;
  color: #cccccc;
  border: none;
}

.page-builder .btn-code {
  padding: 0px 10px;
  background-color: transparent;
  border: none;
  font-size: 12px;
  border-right: 1px solid #e6edef;
  color: #cccccc;
}

.page-builder .btn-grid {
  background-color: #f5f7fb;
  color: rgba(36, 41, 52, 0.7) !important;
  border-right: 1px solid #efefef;
  padding: 0px;
  margin-right: 8px;
  padding-right: 10px;
  cursor: pointer;
}

.page-builder .ge-mainControls {
  margin-bottom: 10px;
}
.page-builder .ge-mainControls .ge-wrapper {
  color: #fff;
  font-family: "Rubik", sans-serif, sans-serif;
}
.page-builder .ge-mainControls .ge-wrapper.ge-fixed {
  position: fixed;
  z-index: 8;
  top: 0;
}
.page-builder .ge-mainControls .ge-wrapper.ge-top .container {
  margin: 0;
  padding: 0;
  width: auto;
}
.page-builder .ge-mainControls .ge-addRowGroup .ge-row-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 50px;
  margin: 0;
}
.page-builder .ge-mainControls .ge-addRowGroup .ge-row-icon .column {
  height: 10px;
  background: #0267a7;
  padding: 0;
  border-left: 3px solid #fff;
}
.page-builder .ge-mainControls .ge-layout-mode ul li a {
  cursor: pointer;
}
.page-builder .ge-mainControls .ge-layout-mode ul li a:active {
  background-color: #ba895d;
  color: #fff;
}
.page-builder .ge-mainControls .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.page-builder .ge-html-output {
  width: 100%;
  display: none;
}

.page-builder .ge-canvas .ge-tools-drawer {
  display: none;
}

.page-builder .ge-canvas.ge-editing .ge-tools-drawer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 0 5px;
  display: block;
}
.page-builder .ge-canvas.ge-editing .ge-tools-drawer > a {
  display: inline-block;
  padding: 5px;
}
.page-builder .ge-canvas.ge-editing .ge-tools-drawer > a:hover {
  cursor: pointer;
  color: #0267a7 !important;
}
.page-builder .ge-canvas.ge-editing .ge-tools-drawer .ge-details {
  padding: 5px;
  border-top: 1px solid #2c323f;
  display: none;
}
.page-builder .ge-canvas.ge-editing .ge-tools-drawer .ge-details .btn-group a {
  color: #2c323f;
}
.page-builder
  .ge-canvas.ge-editing
  .ge-tools-drawer
  .ge-details
  .btn-group
  a:hover {
  text-decoration: none;
  cursor: pointer;
}

.page-builder .ge-canvas.ge-editing .row {
  background-color: rgba(36, 105, 92, 0.02);
  padding: 25px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 4px;
}
.page-builder .ge-canvas.ge-editing .row > .ge-tools-drawer {
  text-align: right;
  width: 100%;
}
.page-builder .ge-canvas.ge-editing .row > .ge-tools-drawer > a {
  color: #cccccc;
  font-size: 11px;
}

.page-builder .ge-canvas.ge-editing .column {
  background-color: #f5f7fb;
  border: 1px solid #e6edef;
  padding: 15px;
  border-radius: 4px;
}
.page-builder .ge-canvas.ge-editing .column > .ge-tools-drawer a {
  color: #cccccc;
  font-size: 11px;
}
.page-builder .ge-canvas.ge-editing .column > .ge-tools-drawer > a.ge-add-row {
  color: #2c323f;
}

.page-builder .ge-canvas.ge-editing .ui-sortable-placeholder {
  background: #e6edef;
  visibility: visible !important;
  min-height: 50px;
}

.page-builder .ge-canvas.ge-editing .ge-content-type-tinymce.active {
  outline: 1px dotted #e6edef;
}

.page-builder .ge-canvas.ge-layout-phone {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.page-builder .ge-canvas.ge-layout-phone .col-sm-1 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-md-1 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-lg-1 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-sm-2 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-md-2 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-lg-2 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-sm-3 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-md-3 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-lg-3 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-sm-4 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-md-4 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-lg-4 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-sm-5 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-md-5 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-lg-5 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-sm-6 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-md-6 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-lg-6 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-sm-7 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-md-7 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-lg-7 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-sm-8 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-md-8 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-lg-8 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-sm-9 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-md-9 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-lg-9 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-sm-10 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-md-10 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-lg-10 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-sm-11 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-md-11 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-lg-11 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-sm-12 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-md-12 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-lg-12 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-phone .col-1 {
  width: 8.33333333%;
}
.page-builder .ge-canvas.ge-layout-phone .col-2 {
  width: 16.66666667%;
}
.page-builder .ge-canvas.ge-layout-phone .col-3 {
  width: 25%;
}
.page-builder .ge-canvas.ge-layout-phone .col-4 {
  width: 33.33333333%;
}
.page-builder .ge-canvas.ge-layout-phone .col-5 {
  width: 41.66666667%;
}
.page-builder .ge-canvas.ge-layout-phone .col-6 {
  width: 50%;
}
.page-builder .ge-canvas.ge-layout-phone .col-7 {
  width: 58.33333333%;
}
.page-builder .ge-canvas.ge-layout-phone .col-8 {
  width: 66.66666667%;
}
.page-builder .ge-canvas.ge-layout-phone .col-9 {
  width: 75%;
}
.page-builder .ge-canvas.ge-layout-phone .col-10 {
  width: 83.33333333%;
}
.page-builder .ge-canvas.ge-layout-phone .col-11 {
  width: 91.66666667%;
}
.page-builder .ge-canvas.ge-layout-phone .col-12 {
  width: 100%;
}

.page-builder .ge-canvas.ge-layout-tablet {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.page-builder .ge-canvas.ge-layout-tablet .col-1 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-md-1 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-lg-1 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-2 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-md-2 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-lg-2 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-3 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-md-3 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-lg-3 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-4 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-md-4 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-lg-4 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-5 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-md-5 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-lg-5 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-6 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-md-6 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-lg-6 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-7 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-md-7 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-lg-7 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-8 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-md-8 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-lg-8 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-9 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-md-9 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-lg-9 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-10 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-md-10 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-lg-10 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-11 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-md-11 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-lg-11 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-12 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-md-12 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-lg-12 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-tablet .col-sm-1 {
  width: 8.33333333%;
}
.page-builder .ge-canvas.ge-layout-tablet .col-sm-2 {
  width: 16.66666667%;
}
.page-builder .ge-canvas.ge-layout-tablet .col-sm-3 {
  width: 25%;
}
.page-builder .ge-canvas.ge-layout-tablet .col-sm-4 {
  width: 33.33333333%;
}
.page-builder .ge-canvas.ge-layout-tablet .col-sm-5 {
  width: 41.66666667%;
}
.page-builder .ge-canvas.ge-layout-tablet .col-sm-6 {
  width: 50%;
}
.page-builder .ge-canvas.ge-layout-tablet .col-sm-7 {
  width: 58.33333333%;
}
.page-builder .ge-canvas.ge-layout-tablet .col-sm-8 {
  width: 66.66666667%;
}
.page-builder .ge-canvas.ge-layout-tablet .col-sm-9 {
  width: 75%;
}
.page-builder .ge-canvas.ge-layout-tablet .col-sm-10 {
  width: 83.33333333%;
}
.page-builder .ge-canvas.ge-layout-tablet .col-sm-11 {
  width: 91.66666667%;
}
.page-builder .ge-canvas.ge-layout-tablet .col-sm-12 {
  width: 100%;
}

.page-builder .ge-canvas.ge-layout-desktop {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.page-builder .ge-canvas.ge-layout-desktop .col-1 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-sm-1 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-lg-1 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-2 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-sm-2 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-lg-2 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-3 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-sm-3 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-lg-3 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-4 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-sm-4 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-lg-4 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-5 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-sm-5 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-lg-5 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-6 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-sm-6 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-lg-6 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-7 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-sm-7 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-lg-7 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-8 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-sm-8 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-lg-8 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-9 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-sm-9 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-lg-9 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-10 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-sm-10 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-lg-10 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-11 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-sm-11 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-lg-11 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-12 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-sm-12 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-lg-12 {
  width: inherit;
}
.page-builder .ge-canvas.ge-layout-desktop .col-md-1 {
  width: 8.33333333%;
}
.page-builder .ge-canvas.ge-layout-desktop .col-md-2 {
  width: 16.66666667%;
}
.page-builder .ge-canvas.ge-layout-desktop .col-md-3 {
  width: 25%;
}
.page-builder .ge-canvas.ge-layout-desktop .col-md-4 {
  width: 33.33333333%;
}
.page-builder .ge-canvas.ge-layout-desktop .col-md-5 {
  width: 41.66666667%;
}
.page-builder .ge-canvas.ge-layout-desktop .col-md-6 {
  width: 50%;
}
.page-builder .ge-canvas.ge-layout-desktop .col-md-7 {
  width: 58.33333333%;
}
.page-builder .ge-canvas.ge-layout-desktop .col-md-8 {
  width: 66.66666667%;
}
.page-builder .ge-canvas.ge-layout-desktop .col-md-9 {
  width: 75%;
}
.page-builder .ge-canvas.ge-layout-desktop .col-md-10 {
  width: 83.33333333%;
}
.page-builder .ge-canvas.ge-layout-desktop .col-md-11 {
  width: 91.66666667%;
}
.page-builder .ge-canvas.ge-layout-desktop .col-md-12 {
  width: 100%;
}

.page-builder .ge-content-type-ckeditor {
  padding: 10px;
  color: #898989;
}

/**=====================
      Page Builder CSS Ends
==========================**/
/*# sourceMappingURL=page-builder.css.map */
