@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&display=swap");
/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Thai", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
.font-10 {
  font-size: 10px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-50 {
  font-size: 50px !important;
}

/* -------- navbar-top -------- */

.img-logo {
  max-width: 220px;
}

.navbar-top {
  width: 100%;
  height: 90px;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homepage {
  padding: 5px 50px;
  border-radius: 30px;
  background: #0171bb;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
}
.homepage:hover {
  padding: 5px 50px;
  border-radius: 30px;
  background: #0171bb;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-menu li a {
  padding: 5px 20px;
  font-size: 1rem;
  margin: 0 10px;
  color: #000;
  transition: 0.3s;
  font-weight: bold;
}

.active-cl {
  color: #0171bb !important;
}
.becomehost {
  transition: 0.3s;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 40px;
  font-weight: bold;
  /* font-size: 1.2rem; */
  color: #000;
}
.becomehost:hover {
  transition: 0.3s;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 40px;
  color: #ffffff;
  background: #0171bb;
}

.btn-signin {
  background: black;
  color: #ffffff;
  border-radius: 30px;
  height: 40px;
  margin-left: 20px;
}
.btn-signin:hover {
  background: black;
  color: #ffffff;
  border-radius: 30px;
  height: 40px;
  margin-left: 20px;
}
.btn-profile {
  background: black;
  color: #ffffff;
  border-radius: 30px;
  height: 40px;
  margin-left: 20px;
}
/* .img-box {
  height: 100%;
  width: 100%;
  max-width: 450px;
  max-height: 650px;
} */

.img-box {
  max-height: 450px;
  /* padding-bottom: 75%; */
  position: relative;
  border-radius: 12;
  overflow: hidden;
}

.img-box1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: center; */
}
/* -------- navbar-top -------- */
/* -------- section-hero -------- */
.section-hero {
  width: 100%;
  min-height: 700px;
}
.img-hero {
  /* width: 60%; */
  object-fit: contain;
  /* position: absolute; */
  top: 0;
  right: -100px;
  height: 600px;
}
.card-search {
  background: #ececec;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.btn-search {
  position: absolute;
  bottom: -20px;
  left: 150px;
  font-weight: 600;
  background: #0171bb;
  width: 100%;
  max-width: 300px;
  height: 50px;
  border-radius: 10px;
}

.text-hero-small {
  margin-top: 100px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.text-hero {
  font-size: 5rem;
  font-weight: 700;
  line-height: 100px;
  z-index: 5;
  width: 700px;
}

.card-advert {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background: #f2f2f2;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #adadad;
}

/* -------- section-hero -------- */

/* -------- room-nearby-provinces -------- */

.room-nearby-provinces {
}
.text-nearby-provinces1 {
  font-size: 2rem;
  font-weight: 700;
}
.text-nearby-provinces2 {
  font-size: 1.2rem;
  font-weight: 700;
}
.lazyload {
  background-image: linear-gradient(
    90deg,
    #f2f2f2,
    #f2f2f2,
    #d3d3d3,
    #f2f2f2,
    #f2f2f2
  );
  background-size: 500%;
  animation: lazyload 2s ease infinite;
}
@keyframes lazyload {
  0% {
    background-position: 0 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
.card-nearby-provinces {
  border-radius: 5px;
  width: 50%;
  height: 20vw;
  margin-right: 10px;
}

.btn-seeall {
  /* background: var(--primary); */
  width: 150px;
  height: 35px;
  border-radius: 10px;
}
.hotel-items {
  cursor: pointer;
}

/* -------- room-nearby-provinces -------- */

/* -------- footer -------- */

.footer {
  width: 100%;
  height: 200px;
  background: #f2f2f2;
  margin-top: 100px;
}

/* -------- footer -------- */

/* -------- allroom -------- */
.card-search-allroom {
  background: #ececec;
  /* width: 600px; */
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.btn-sell {
  width: 200px;
  height: 55px;
  border-radius: 10px;
}
.room-detail {
  min-height: 600px;
}
.card-room {
  height: 505px;
}
.card-room-2 {
  height: 250px;
}
.img-room {
  object-fit: cover;
  object-position: initial;
}
.text-detail-1 {
  background-color: #0171bb;
  color: white;
  max-width: 250px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  border-radius: 15px;
}
.carousel-inner {
  background-color: #f2f2f2;
  object-fit: cover;
  object-position: top;
}
/* -------- allroom -------- */

/* -------- modal-login -------- */

.modal-login {
  height: 100%;
  height: 700px;
  padding: 0;
}
.modal-w {
  width: 100%;
  width: 960px !important;
}

.bg-login {
  height: 100%;
  width: 100%;
  height: 700px;
  background-color: #87ceeb;
}

.img-login {
  /* height: 100%; */
  width: 100%;
}
.center {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20%;
}

.fancybox-thumbs {
  top: auto;
  width: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95px;
  padding: 10px 10px 5px 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
}

.fancybox-show-thumbs .fancybox-inner {
  right: 0;
  bottom: 95px;
}
/* -------- modal-login -------- */
.card-previews {
  border-radius: 10px;
  width: 150px !important;
  height: 150px !important;
}
.card-previews button {
  font-size: 14px;
}

.card-previews img {
  position: absolute;
  border-radius: 10px;
  width: 150px !important;
  height: 150px !important;
  object-fit: cover;
  object-position: top;
}

.input-group {
  width: 30%;
  height: 36px !important;
}

.btn-save {
  background-color: #2484c7;
  font-size: 22px;
}
#room-members h6 {
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 150px !important;
}
.room-title {
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px !important;
}
/* -------- responsive -------- */
@media (max-width: 576px) {
  .img-logo {
    max-width: 120px;
  }
  .btn-search {
    position: absolute;
    bottom: -20px;
    left: 83px;
    font-weight: 600;
    background: #0171bb;
    width: 100%;
    max-width: 200px;
    height: 40px;
    border-radius: 10px;
  }
  .text-hero {
    font-size: 2rem;
    font-weight: 700;
    line-height: 50px;
    z-index: 5;
    max-width: 390px;
  }
  .container {
    overflow: hidden;
  }
  .sm-position {
    padding-left: 10px !important;
    padding-top: 0px !important;
  }
  .footer {
    width: 100%;
    height: 100%;
    max-height: 600px;
    background: #f2f2f2;
    margin-top: 100px;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  .footer-pos-sm {
    margin-left: 30px;
  }
  .footer-pos-sm-logo {
    margin-left: -30px;
  }
  .allroom-sm-pos {
    margin-top: 40px;
  }
  .sm-position-contact {
    margin-left: 20px;
  }
  .modal-pos-sm {
    margin-left: 8px !important;
  }
  .room-detail {
    max-height: 1800px !important;
  }
  .pos-roomdetail-1 {
    padding-left: 0px !important;
  }
  .pos-roomdetail-2 {
    padding-left: 20px !important;
  }
  .text-roomdetail-1 {
    font-size: 15px !important;
  }
  .text-roomdetail-2 {
    font-size: 12px !important;
  }
  .text-roomdetail-3 {
    font-size: 10px !important;
  }
}
/* -------- responsive -------- */
